<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.archimatetool.modelrepository.actions.ShowRepositoryViewHandler"
            id="com.archimatetool.modelrepository.command.showRepositoryView"
            name="Toggle Collaboration Workspace">
      </command>
      <command
            defaultHandler="com.archimatetool.modelrepository.actions.ShowInRepositoryViewHandler"
            id="com.archimatetool.modelrepository.command.showInRepositoryView"
            name="Show in Collaboration Workspace">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:com.archimatetool.editor.treeModelView?before=start_properties">
         <menu
               id="com.archimatetool.modelrepository.popup"
               label="Collaboration">
            <separator
                  name="com.archimatetool.modelrepository.popup.start"
                  visible="true">
            </separator>
            <separator
                  name="com.archimatetool.modelrepository.popup.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="com.archimatetool.modelrepository.command.showInRepositoryView"
                  icon="img/plugin.png"
                  style="push">
            </command>
            <separator
                  name="com.archimatetool.modelrepository.popup.end"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=tools">
         <menu
               id="com.archimatetool.modelrepository.menu"
               label="Collaboration">
            <separator
                  name="com.archimatetool.modelrepository.menu.separator1"
                  visible="true">
            </separator>
            <separator
                  name="com.archimatetool.modelrepository.menu.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="com.archimatetool.modelrepository.command.showRepositoryView"
                  icon="img/plugin.png"
                  id="com.archimatetool.modelrepository.toolbaritem.showRepositoryView"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=toolbar_views">
         <toolbar
               id="com.archimatetool.modelrepository.toolbar">
            <separator
                  name="com.archimatetool.modelrepository.separator1"
                  visible="true">
            </separator>
            <separator
                  name="com.archimatetool.modelrepository.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="com.archimatetool.modelrepository.command.showRepositoryView"
                  icon="img/plugin.png"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.archimatetool.modelrepository.views.repositories.ModelRepositoryView"
            icon="img/plugin.png"
            id="com.archimatetool.modelrepository.modelRepositoryView"
            name="Collaboration Workspace"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="com.archimatetool.modelrepository.modelRepositoryView"
               minimized="false"
               relationship="stack"
               relative="com.archimatetool.editor.navigatorView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.archimatetool.modelrepository.Startup"></startup>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="com.archimatetool.modelrepository.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.archimatetool.modelrepository"
            labelProvider="com.archimatetool.modelrepository.propertysections.LabelProvider">
         <propertyCategory
               category="main.category"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.archimatetool.modelrepository">
         <propertyTab
               category="main.category"
               id="info.tab"
               label="Information">
         </propertyTab>
         <propertyTab
               afterTab="info.tab"
               category="main.category"
               id="user.tab"
               label="User Details">
         </propertyTab>
         <propertyTab
               afterTab="user.tab"
               category="main.category"
               id="auth.tab"
               label="Authentication">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.archimatetool.modelrepository">
         <propertySection
               class="com.archimatetool.modelrepository.propertysections.RepoInfoSection"
               filter="com.archimatetool.modelrepository.propertysections.RepoInfoSection$Filter"
               id="infoSection"
               tab="info.tab">
         </propertySection>
         <propertySection
               class="com.archimatetool.modelrepository.propertysections.GroupSection"
               filter="com.archimatetool.modelrepository.propertysections.GroupSection$Filter"
               id="groupSection"
               tab="info.tab">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
