<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.archimatetool.modelrepository.category"
            name="coArchi 2">
      </category>
      <command
            categoryId="com.archimatetool.modelrepository.category"
            defaultHandler="com.archimatetool.modelrepository.handlers.ShowRepositoryViewHandler"
            id="com.archimatetool.modelrepository.command.showRepositoryView"
            name="Toggle Collaboration Workspace">
      </command>
      <command
            categoryId="com.archimatetool.modelrepository.category"
            defaultHandler="com.archimatetool.modelrepository.handlers.ShowHistoryViewHandler"
            id="com.archimatetool.modelrepository.command.showHistoryView"
            name="Toggle Change History">
      </command>
      <command
            categoryId="com.archimatetool.modelrepository.category"
            defaultHandler="com.archimatetool.modelrepository.handlers.ShowBranchesViewHandler"
            id="com.archimatetool.modelrepository.command.showBranchesView"
            name="Toggle Branches">
      </command>
      <command
            categoryId="com.archimatetool.modelrepository.category"
            defaultHandler="com.archimatetool.modelrepository.handlers.ShowInRepositoryViewHandler"
            id="com.archimatetool.modelrepository.command.showInRepositoryView"
            name="Show in Collaboration Workspace">
      </command>
      <command
            categoryId="com.archimatetool.modelrepository.category"
            defaultHandler="com.archimatetool.modelrepository.handlers.ShowInHistoryViewHandler"
            id="com.archimatetool.modelrepository.command.showInHistoryView"
            name="Show in Change History">
      </command>
      <command
            categoryId="com.archimatetool.modelrepository.category"
            defaultHandler="com.archimatetool.modelrepository.handlers.ShowInBranchesViewHandler"
            id="com.archimatetool.modelrepository.command.showInBranchesView"
            name="Show in Branches">
      </command>
      <command
            categoryId="com.archimatetool.modelrepository.category"
            defaultHandler="com.archimatetool.modelrepository.handlers.CreateRepoFromModelHandler"
            id="com.archimatetool.modelrepository.command.createRepoFromModel"
            name="Add Model to Workspace">
      </command>
      <command
            categoryId="com.archimatetool.modelrepository.category"
            defaultHandler="com.archimatetool.modelrepository.handlers.CloneModelHandler"
            id="com.archimatetool.modelrepository.command.cloneModel"
            name="Import Remote Model to Workspace">
      </command>
      <command
            categoryId="com.archimatetool.modelrepository.category"
            defaultHandler="com.archimatetool.modelrepository.handlers.RefreshModelHandler"
            id="com.archimatetool.modelrepository.command.refreshModel"
            name="Refresh Model">
      </command>
      <command
            categoryId="com.archimatetool.modelrepository.category"
            defaultHandler="com.archimatetool.modelrepository.handlers.CommitModelHandler"
            id="com.archimatetool.modelrepository.command.commitModel"
            name="Commit Changes">
      </command>
      <command
            categoryId="com.archimatetool.modelrepository.category"
            defaultHandler="com.archimatetool.modelrepository.handlers.PushModelHandler"
            id="com.archimatetool.modelrepository.command.pushModel"
            name="Publish Changes">
      </command>
      <command
            categoryId="com.archimatetool.modelrepository.category"
            defaultHandler="com.archimatetool.modelrepository.handlers.DiscardChangesHandler"
            id="com.archimatetool.modelrepository.command.discardChanges"
            name="Discard Uncommitted Changes">
      </command>
      <command
            categoryId="com.archimatetool.modelrepository.category"
            defaultHandler="com.archimatetool.modelrepository.handlers.DeleteModelHandler"
            id="com.archimatetool.modelrepository.command.deleteModel"
            name="Delete Model from Workspace">
      </command>
      <command
            categoryId="com.archimatetool.modelrepository.category"
            id="com.archimatetool.modelrepository.newGroup"
            name="New Group">
      </command>
      <command
            categoryId="com.archimatetool.modelrepository.category"
            id="com.archimatetool.modelrepository.addExistingRepository"
            name="Add Existing Repository">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.archimatetool.modelrepository.command.showRepositoryView"
            icon="img/plugin.png">
      </image>
      <image
            commandId="com.archimatetool.modelrepository.command.showHistoryView"
            icon="img/history_view.png">
      </image>
      <image
            commandId="com.archimatetool.modelrepository.command.showBranchesView"
            icon="img/branches_obj.png">
      </image>
      <image
            commandId="com.archimatetool.modelrepository.command.showInRepositoryView"
            icon="img/plugin.png">
      </image>
      <image
            commandId="com.archimatetool.modelrepository.command.showInHistoryView"
            icon="img/history_view.png">
      </image>
      <image
            commandId="com.archimatetool.modelrepository.command.showInBranchesView"
            icon="img/branches_obj.png">
      </image>
      <image
            commandId="com.archimatetool.modelrepository.command.createRepoFromModel"
            icon="img/createRepository.png">
      </image>
      <image
            commandId="com.archimatetool.modelrepository.command.cloneModel"
            icon="img/cloneGit.png">
      </image>
      <image
            commandId="com.archimatetool.modelrepository.command.refreshModel"
            icon="img/pull.png">
      </image>
      <image
            commandId="com.archimatetool.modelrepository.command.commitModel"
            icon="img/commit.png">
      </image>
      <image
            commandId="com.archimatetool.modelrepository.command.pushModel"
            icon="img/push.png">
      </image>
      <image
            commandId="com.archimatetool.modelrepository.command.discardChanges"
            icon="img/abort.png">
      </image>
      <image
            commandId="com.archimatetool.modelrepository.command.deleteModel"
            icon="img/delete.png">
      </image>
      <image
            commandId="com.archimatetool.modelrepository.newGroup"
            icon="img/group.png">
      </image>
      <image
            commandId="com.archimatetool.modelrepository.addExistingRepository"
            icon="img/elements_obj.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:com.archimatetool.editor.treeModelView?before=start_properties">
         <menu
               id="com.archimatetool.modelrepository.popup"
               label="Collaboration">
            <separator
                  name="com.archimatetool.modelrepository.popup.start"
                  visible="true">
            </separator>
            <command
                  commandId="com.archimatetool.modelrepository.command.createRepoFromModel"
                  icon="img/createRepository.png"
                  label="Add Model to Workspace..."
                  style="push">
            </command>
            <command
                  commandId="com.archimatetool.modelrepository.command.deleteModel"
                  icon="img/delete.png"
                  label="Delete Model from Workspace..."
                  style="push">
            </command>
            <separator
                  name="com.archimatetool.modelrepository.popup.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.archimatetool.modelrepository.command.refreshModel"
                  icon="img/pull.png"
                  label="Refresh Model"
                  style="push">
            </command>
            <command
                  commandId="com.archimatetool.modelrepository.command.commitModel"
                  icon="img/commit.png"
                  label="Commit Changes..."
                  style="push">
            </command>
            <command
                  commandId="com.archimatetool.modelrepository.command.pushModel"
                  icon="img/push.png"
                  label="Publish Changes..."
                  style="push">
            </command>
            <command
                  commandId="com.archimatetool.modelrepository.command.discardChanges"
                  icon="img/abort.png"
                  style="push">
            </command>
            <separator
                  name="com.archimatetool.modelrepository.popup.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="com.archimatetool.modelrepository.command.showInRepositoryView"
                  icon="img/plugin.png"
                  style="push">
            </command>
            <command
                  commandId="com.archimatetool.modelrepository.command.showInHistoryView"
                  icon="img/history_view.png"
                  style="push">
            </command>
            <command
                  commandId="com.archimatetool.modelrepository.command.showInBranchesView"
                  icon="img/branches_obj.png"
                  style="push">
            </command>
            <separator
                  name="com.archimatetool.modelrepository.popup.end"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=tools">
         <menu
               id="com.archimatetool.modelrepository.menu"
               label="Collaboration">
            <command
                  commandId="com.archimatetool.modelrepository.command.createRepoFromModel"
                  icon="img/createRepository.png"
                  label="Add Model to Workspace..."
                  style="push">
            </command>
            <command
                  commandId="com.archimatetool.modelrepository.command.cloneModel"
                  icon="img/cloneGit.png"
                  label="Import Remote Model to Workspace..."
                  style="push">
            </command>
            <command
                  commandId="com.archimatetool.modelrepository.command.deleteModel"
                  icon="img/delete.png"
                  label="Delete Model from Workspace..."
                  style="push">
            </command>
            <separator
                  name="com.archimatetool.modelrepository.menu.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.archimatetool.modelrepository.command.refreshModel"
                  icon="img/pull.png"
                  label="Refresh Model"
                  style="push">
            </command>
            <command
                  commandId="com.archimatetool.modelrepository.command.commitModel"
                  icon="img/commit.png"
                  label="Commit Changes..."
                  style="push">
            </command>
            <command
                  commandId="com.archimatetool.modelrepository.command.pushModel"
                  icon="img/push.png"
                  label="Publish Changes..."
                  style="push">
            </command>
            <command
                  commandId="com.archimatetool.modelrepository.command.discardChanges"
                  icon="img/abort.png"
                  label="Discard Uncommitted Changes"
                  style="push">
            </command>
            <separator
                  name="com.archimatetool.modelrepository.menu.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="com.archimatetool.modelrepository.command.showRepositoryView"
                  icon="img/plugin.png"
                  id="com.archimatetool.modelrepository.toolbaritem.showRepositoryView"
                  style="push">
            </command>
            <command
                  commandId="com.archimatetool.modelrepository.command.showHistoryView"
                  icon="img/history_view.png"
                  style="push">
            </command>
            <command
                  commandId="com.archimatetool.modelrepository.command.showBranchesView"
                  icon="img/branches_obj.png"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=toolbar_views">
         <toolbar
               id="com.archimatetool.modelrepository.toolbar">
            <command
                  commandId="com.archimatetool.modelrepository.command.createRepoFromModel"
                  icon="img/createRepository.png"
                  style="push">
            </command>
            <separator
                  name="com.archimatetool.modelrepository.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.archimatetool.modelrepository.command.refreshModel"
                  icon="img/pull.png"
                  style="push">
            </command>
            <command
                  commandId="com.archimatetool.modelrepository.command.commitModel"
                  icon="img/commit.png"
                  style="push">
            </command>
            <command
                  commandId="com.archimatetool.modelrepository.command.pushModel"
                  icon="img/push.png"
                  style="push">
            </command>
            <command
                  commandId="com.archimatetool.modelrepository.command.discardChanges"
                  icon="img/abort.png"
                  label="Discard Uncommitted Changes"
                  style="push">
            </command>
            <separator
                  name="com.archimatetool.modelrepository.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="com.archimatetool.modelrepository.command.showRepositoryView"
                  icon="img/plugin.png"
                  style="push">
            </command>
            <command
                  commandId="com.archimatetool.modelrepository.command.showHistoryView"
                  icon="img/history_view.png"
                  style="push">
            </command>
            <command
                  commandId="com.archimatetool.modelrepository.command.showBranchesView"
                  icon="img/branches_obj.png"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.archimatetool.modelrepository.views.repositories.ModelRepositoryView"
            icon="img/plugin.png"
            id="com.archimatetool.modelrepository.modelRepositoryView"
            name="Collaboration Workspace"
            restorable="true">
      </view>
      <view
            class="com.archimatetool.modelrepository.views.history.HistoryView"
            icon="img/history_view.png"
            id="com.archimatetool.modelrepository.historyView"
            name="Change History"
            restorable="true">
      </view>
      <view
            class="com.archimatetool.modelrepository.views.branches.BranchesView"
            icon="img/branches_obj.png"
            id="com.archimatetool.modelrepository.branchesView"
            name="Branches"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="com.archimatetool.modelrepository.modelRepositoryView"
               minimized="false"
               relationship="stack"
               relative="com.archimatetool.editor.navigatorView">
         </view>
         <view
               id="com.archimatetool.modelrepository.historyView"
               minimized="false"
               relationship="stack"
               relative="com.archimatetool.editor.propertiesView">
         </view>
         <view
               id="com.archimatetool.modelrepository.branchesView"
               minimized="false"
               relationship="stack"
               relative="com.archimatetool.modelrepository.historyView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.archimatetool.modelrepository.Startup"></startup>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="com.archimatetool.modelrepository.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.archimatetool.modelrepository.preferences.ModelRepositoryPreferencePage"
            id="com.archimatetool.com.modelrepository.preferences.ModelRepositoryPreferencePage"
            name="Collaboration">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.archimatetool.editor">
         <propertyCategory
               category="com.archimatetool.modelrepository.category"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.archimatetool.editor">
         <propertyTab
               category="com.archimatetool.modelrepository.category"
               id="repo.tab"
               label="Repository">
         </propertyTab>
         <propertyTab
               afterTab="info.tab"
               category="com.archimatetool.modelrepository.category"
               id="user.tab"
               label="User Details">
         </propertyTab>
         <propertyTab
               afterTab="user.tab"
               category="com.archimatetool.modelrepository.category"
               id="auth.tab"
               label="Authentication">
         </propertyTab>
         <propertyTab
               category="com.archimatetool.modelrepository.category"
               id="group.tab"
               label="Group">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.archimatetool.editor">
         <propertySection
               class="com.archimatetool.modelrepository.propertysections.RepoInfoSection"
               filter="com.archimatetool.modelrepository.propertysections.RepoInfoSection$Filter"
               id="infoSection"
               tab="repo.tab">
         </propertySection>
         <propertySection
               class="com.archimatetool.modelrepository.propertysections.UserDetailsSection"
               filter="com.archimatetool.modelrepository.propertysections.UserDetailsSection$Filter"
               id="userSection"
               tab="user.tab">
         </propertySection>
         <propertySection
               class="com.archimatetool.modelrepository.propertysections.AuthSection"
               filter="com.archimatetool.modelrepository.propertysections.AuthSection$Filter"
               id="authSection"
               tab="auth.tab">
         </propertySection>
         <propertySection
               class="com.archimatetool.modelrepository.propertysections.GroupSection"
               filter="com.archimatetool.modelrepository.propertysections.GroupSection$Filter"
               id="groupSection"
               tab="group.tab">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="com.archimatetool.editor.labelProvider">
      <labelProvider
            class="com.archimatetool.modelrepository.propertysections.LabelProvider"
            id="com.archimatetool.modelrepository.labelProvider">
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/contexts.xml"
            plugin="com.archimatetool.modelrepository">
      </contexts>
   </extension>

</plugin>
